@use "sass:meta";
@use "sass:map";
@use "../../settings" as *;
@use "./icon" as *;
@use "../../functions" as *;
@use "./screen-reader" as *;

$external-link-size: 1.75ex;

$icon-object: (
  "name": "launch",
  "color": currentColor,
  "height": $external-link-size,
  "svg-height": 24,
  "svg-width": 24,
  "position-x": center,
  "position-y": center,
);

$screen-reader-label-configs: (
  "": $theme-external-link-sr-label-tab-same,
  '[target="_blank"]': $theme-external-link-sr-label-tab-new,
);

@mixin external-link($contrast-bg: "default") {
  display: inline;

  // Screen reader label
  @each $selector-prefix, $theme-label-config in $screen-reader-label-configs {
    @if $theme-label-config != false {
      &#{$selector-prefix}::before {
        @include sr-only;
        @if meta.type-of($theme-label-config) == "string" {
          content: $theme-label-config;
        } @else {
          @if map.has-key($theme-label-config, "en") {
            content: map.get($theme-label-config, "en");
          }

          @each $locale, $label in $theme-label-config {
            @if $locale != "en" {
              [lang="#{$locale}"] & {
                content: $label;
              }
            }
          }
        }
      }
    }
  }

  &::after {
    @include add-color-icon($icon-object, $contrast-bg);
    content: "";
    display: inline;
    margin-top: 0.7ex;
    margin-left: 2px;
    padding-left: 1.75ex;
    vertical-align: middle;
  }
}
